/* search, sort by, and in x days  */
header {
  padding: 0 40px;
}
.header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
}

select {
  border-radius: 5px;
  padding: 1px;
  font-size: 15px;
  color: #555;
}

select:focus {
  outline: none;
}

.search-input {
  border: 1px solid #222;
  background-color: white;
  padding: 2px 0 2px 5px;
  border-radius: 15px;
  overflow: hidden;
}

#search {
  min-width: 25vw;
  border: none;
}

#search:focus {
  outline: none;
}

.search-input i {
  font-size: 0.8rem;
}

/* order placed, total and order id */
.order-header-info {
  background-color: #d7d7d7;
  display: flex;
  justify-content: space-around;
  border-radius: 5px 5px 0 0;
  padding: 10px;
}

.order-header-info div {
  display: flex;
  flex-direction: column;
}

.order {
  border-radius: 5px;
  border: 1px solid;
  margin: 40px;
}

.order-price i {
  font-size: medium;
}

.order-column {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  padding: 5px 0;
  margin-top: 10px;
}

.order-row {
  font-size: 18px;
  display: flex;
}

/* .order-header {
  font-size: 1.2rem;
  font-weight: bold;
} */

.order-item {
  width: 45%;
  margin: 0 auto;
}

.order-price {
  width: 20%;
}

.order-quantity {
  width: 20%;
}

.order-img {
  width: 80px;
  border-radius: 5px;
  margin-right: 20px;
}

#orders {
  min-height: 100vh;
  margin-top: 20px;
}

/* // no result and no orders msg  */
#no-result {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  transform: translateY(20vh);
}

#no-result p {
  font-size: 1.2rem;
  margin-top: 10px;
}

#no-order h1 {
  transform: translateY(20vh);
  opacity: 0.7;
}
