/* ////////////////products card////////////// */
.card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.card {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  overflow: hidden;
  width: 330px;
  margin: 30px 0;
}

.card-header {
  height: 200px;
}

.card-header img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.card-content {
  background-color: #fff;
  padding: 15px;
}

.card-title {
  height: 40px;
  margin: 0;
}

.card-content button {
  float: right;
  padding: 9px;
  font-size: 0.7rem;
  background-color: rgb(56, 56, 239);
  color: #fff;
  font-weight: medium;
  border: none;
  border-radius: 5px;
  margin-top: -7px;
}

.card-container img:hover {
  cursor: pointer;
}

.card-content button:active,
#order-btn:active,
.cart-quantity button:active {
  transform: scale(0.97);
}

.card-content button:hover {
  opacity: 0.85;
  cursor: pointer;
}

.card-content i {
  font-size: large;
}

/* ///////////////popup container////////////// */
#popup-container {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

#popup-container.popup-active {
  display: flex;
}

#popup-container.popup-active #popup {
  max-height: 90vh;
  position: relative;
}

#popup-image {
  border: 1px solid #fff;
  object-fit: cover;
  height: 590px;
  width: 100%;
}

#close-btn {
  position: absolute;
  height: 35px;
  width: 35px;
  top: 7px;
  right: 7px;
  border-radius: 5px;
  background-color: #fff;
  color: black;
  font-size: 1.5rem;
}

#close-btn:hover {
  border: 1px solid black;
  cursor: pointer;
}

/* //////////////////cart///////////////////// */
.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #bbb;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  font-size: 18px;
  display: flex;
}

.cart-header {
  font-size: 1.1rem;
  font-weight: 500;
  opacity: 0.5;
}

#cart h1 {
  text-align: center;
  opacity: 0.8;
}

.cart-item {
  width: 50%;
}

.cart-price {
  width: 20%;
}

.cart-quantity {
  width: 30%;
}

.cart-total {
  display: flex;
  flex-direction: row-reverse;
  font-size: 1.4rem;
  margin: 50px;
}

#order-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 50px;
  background-color: #008cba;
  color: white;
  font-size: 1.2rem;
  font-weight: medium;
  border: none;
  border-radius: 5px;
  padding: 12px;
  cursor: pointer;
  transition: all 0.3s;
}

#order-btn:hover {
  background: #fff;
  color: #008cba;
  box-shadow: 0 4px 4px rgba(83, 100, 255, 0.32);
}

.cart-quantity button {
  background-color: #fff;
  cursor: pointer;
  border: 1px solid rgb(0, 204, 255);
  border-radius: 5px;
  height: 30px;
  outline: none;
  padding: 0px 7px;
}

.cart-quantity button:hover {
  box-shadow: 0 2px 4px rgba(83, 100, 255, 0.45);
}

.cart-quantity input {
  width: 40px;
  height: 30px;
  border: 1px solid rgb(0, 204, 255);
  border-radius: 5px;
  outline: none;
  text-align: center;
  margin-right: 20px;
}

.cart-img {
  width: 80px;
  border-radius: 5px;
  margin-right: 20px;
}

.cart-btn {
  position: absolute;
  top: 22px;
  right: 10px;
  font-family: inherit;
  background-color: transparent;
  color: #fff;
  font-size: medium;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.nav.active .cart-btn {
  top: 12px;
  background-color: transparent;
  color: #222;
}

#cart {
  margin: 0px;
  min-width: 500px;
  position: fixed;
  padding: 20px;
  top: 50px;
  height: 95vh;
  right: -100%;
  background-color: #ecf0f1;
  border: 1px solid #222;
  transition: all 0.3s linear;
  border-radius: 5px;
}

#cart {
  min-height: 100vh;
  margin-top: 23px;
}

#cart p {
  text-align: center;
  opacity: 0.6;
  font-size: 1.2rem;
}

#cart.active-cart {
  right: 0;
}

/* //////////////page pagination///////////// */
#pagination button {
  width: 35px;
  height: 35px;
  font-size: 1.5rem;
  border-radius: 50%;
  margin: 0 10px;
  cursor: pointer;
  border: none;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
}

#pagination {
  margin: 20px 0;
  text-align: center;
}

#pagination #current {
  width: 45px;
  height: 45px;
}

/* /////////////////cart pagination/////////////// */
#cart-pagination button {
  width: 25px;
  height: 25px;
  font-size: 1rem;
  border-radius: 50%;
  margin: 0 10px;
  cursor: pointer;
  border: none;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
}

#cart-pagination {
  margin: 20px 0;
  text-align: center;
}

#cart-pagination #cart-current {
  width: 35px;
  height: 35px;
}

/* ////////////////notification//////////////// */
#notification {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0.5rem;
}

.show {
  background-color: #4caf50;
  color: #fff;
  padding: 1rem;
  margin: 1rem;
  font-size: larger;
  border-radius: 5px;
}

.show.error {
  background-color: #f44336;
}
